body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}
.main{
  
    background-image: url(body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
    height: 400px; 
     transition: transform 2s ease 0s; 
}


.main:hover{
    transform: padding(135deg);
    background-image: url(body2.jpg);

} 


@media (max-width: 768px) {
    .main {
        height: 400px;
        background-size: contain;
    }
}

@media (max-width: 480px) {
    .main {
        height: 300px;
        background-size: contain;
    }
}
.offers-section {
  display:flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: #f0f2f2;
}

.offer-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  width: 260px;
  font-size: 12px;
  flex-wrap: wrap;
}

.offer-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(  2, 1fr);
  gap: 15px;
  
}

.grid-item img {
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
  object-fit: cover;
}
.see{
  color: blue;
}
@media(max-width:480px){
  .offers-section {
  max-width: 100%;
  height: auto;
    align-items: center;
  }

  .offer-card {
    max-width: 100%; 
    height: auto;
  }
  .grid-item img{
    max-width: 100%;
    height: auto;
    font-size: 0.8rem;
  }
  .grid-item{
    padding: 1.5rem;
  }
}

.shopping {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  background-color: #f0f2f2;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  width: 260px;
  font-size: 12px;
  
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  
}

.container {
  display: grid;
   grid-template-columns: repeat(  2, 1fr); 
  gap: 15px;
  
}

.item img {
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
  object-fit: cover;
}
.see{
  color: blue;
}
@media(max-width:480px){
  .shopping {
  max-width: 100%;
  height: auto;
    align-items: center;
  }

  .card {
    max-width: 100%; 
    height: auto;
  }
  .item img{
    max-width: 100%;
    height: auto;
    font-size: 0.8rem;
  }
  .item{
    padding: 1.5rem;
  }
}
.image {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

