body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.summer-container {
  background-color: #f0f2f2;
  padding: 40px 15px;
}


.summer-shop {
  max-width: 1200px;
  margin: auto;
  background-color: white;
  padding: 25px 30px;
  border-radius: 8px;
  overflow: hidden;
}
.summer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.summer-header h2 {
  margin: 0;
  font-size: 22px;
}

.summer-header h5{
  font-size: 14px;
  color: #0073e6;
  text-decoration: none;
}
.scroll-summer{
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding-bottom: 10px;
}

.summer {
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  width: 140px;
  flex: 0 0 auto;
  text-align: center;
}

.summer img {
  width: 100%;
  height: 140px;
  border-radius: 4px;
  object-fit: cover;
  border: none;
}




@media (min-width: 768px) {
  .summer:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}


@media (max-width: 768px) {
  .summer {
    width: 120px;
  }
  .summer img {
    height: 120px;
  }
}

@media (max-width: 480px) {
  .summer{
    width: 100px;
  }
  .summer img {
    height: 100px;
  }
}
